# Build artifacts
_site
.sass-cache

# filesystem artifacts
.DS_Store

# Yarn stuff
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# ???
vendor/
.bundle/
.jekyll-metadata