<footer class="site-footer">
  <div class="footer-title">
    <div class="con-name">CrossingsCon</div>
    <div class="jd-time">JD 2457935.250000</div>
    <div class="lat-long">33.765496, -118.115351</div>
  </div>
  <nav class="footer-nav">
    <a class="page-link" href="{{ "/badges" | prepend: site.baseurl }}">Register</a>
    <a class="page-link" href="{{ "/location" | prepend: site.baseurl }}">Hotel</a>
    <a class="page-link" href="{{ "/events" | prepend: site.baseurl }}">Schedule</a>
    <a class="page-link" href="{{ "/events/guests" | prepend: site.baseurl }}">Guests</a>
    <a class="page-link" href="{{ "/about/contact" | prepend: site.baseurl }}">Contact Us</a>
  </nav>
  <div class="footer-social">
    <div>Keep up with us:</div>
    <ul class="social-list">
      {% for sm in site.data.social_media %}
      <li><a href="{{sm.site}}"><img class="inline-icon" src="{{site.baseurl}}/images/social-icons/{{sm.service}}-white.svg"/> {{ sm.service | capitalize }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <aside class="made-with-love">Made with <span class="heart">♥</span> on Rirhath B</aside>
</footer>
  <!--

  <div class="wrapper">



    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer> -->
