.gradient {
    background-image: linear-gradient(to right, $white, $cc-sky-blue);
}

.gradient-orange {
    background-image: linear-gradient(to right, $cc-orange-1, $cc-orange-4);
}

.gradient-purple {
    background-image: linear-gradient(to right, $cc-purple-4, $cc-navy);
}

.bg-blue {
    background-color: $cc-24-blue;
} 

.bg-green {
    background-color: $cc-24-green; 
}

.text-white {
    color: white;
}

.testimonal-quote {
    padding: 3rem;
    img {
        width: 5rem;
    }
}

.testimonial-body {
    vertical-align: middle;
    font-size: 24px;
}

.city-guide {
  .frame {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 74.7143%;
    padding-bottom: 0;
    box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16);
    margin-top: 1.6em;
    margin-bottom: 0.9em;
    overflow: hidden;
    border-radius: 8px;
    
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: none;
      padding: 0;
      margin: 0;
    }
  }
  
  .dual-maps {
    display: block;
  }
  
  .map-reference {
    display: block;
    
    margin-bottom: 1rem;
    
    ol {
      margin: 0;
    }
  }
  
  .mapdialog {
    padding: .25rem;
    
    text-align: end;
    
    background: linear-gradient(to bottom, #5f445b, #002a40);
    
    border: none;
    border-radius: 2rem;
    
    &::backdrop {
      background: black;
      opacity: .5;
    }
    
    .mapbox {
      background: none;
    }
    
    .dialogclose {
      display: inline-block;
      
      width: 24px;
      height: 24px;
      
      margin-top: .5rem;
      margin-right: .5rem;
      
      background: #d97d63;
      
      border: none;
      border-radius: 1rem;
      
      &:hover {
        background: #d97d63b8;
      }
      
      &:active {
        background: #d97d637a;
        
        &:focus {
          outline: none;
        }
      }
      
      img {
        margin-top: -5px;
      }
    }
  }
  
  .mapbox {
    padding: .5rem;
    
    text-align: center;
    
    color: white;
    background: #5f445b;
    
    .zoomable {
      cursor: zoom-in;
    }
    
    figcaption {
      padding-top: .25rem;
      
      font-style: italic;
      font-size: smaller;
    }
  }

  ol, ul {
    li {
      &.letter {
        list-style-type: upper-latin;
      }
      
      &.arrow {
        list-style-type: disclosure-closed;
      }
      
      &.nodot {
        list-style-type: none;
      }
    }
  }
  
  h3 img {
    margin-top: -8px;
  }
}

.note {
  font-style: italic;
  font-size: smaller;
}

@media(min-width: 700px) {
  .city-guide {
    .dual-maps {
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 1rem;
    }
    
    .map-reference {
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

a {
    color: $cc-purple-4;
    text-decoration: underline;
}

nav a {
    text-decoration: none;
}

footer a {
    text-decoration: none;
}

a:hover {
    color: $cc-purple-1;
}
