footer {
  color: white;
  background-color: $cc-24-blue;
  display: flex;
  flex-direction: column;
  flex: 1; 
  
  .heart {
    color: $cc-silver;
  }

  .footer-text {
    height: 2.5em;
    display: grid;
    align-items: center;
  }
}

footer .container-wrapper {
  margin-top: auto;
}

footer .social-list {
  justify-content: center;

  img {
    height: 2.5rem;
    @media (max-width: 768px) {
      height: 1.5rem;
    }
  }
}

footer .social-icon {
  height: 2.25rem;
  width: 2.5rem;
  @media (max-width: 768px) {
    height: 1.8rem;
    width: 2rem;
  }
}

footer .flipper {
  .unflipped { display: inline; }
  .flipped { display: none; }

  &:hover {
    .flipped { display: inline; }
    .unflipped { display: none; }
  }
}

footer .pattern {
  width: 100%
}
