footer {
  color: $white;

  .heart {
    color: $cyan;
  }
}

footer .social-list {
  justify-content: center;

  img {
    height: 1.5rem;
  }
}

footer .flipper {
  .unflipped { display: inline; }
  .flipped { display: none; }

  &:hover {
    .flipped { display: inline; }
    .unflipped { display: none; }
  }
}
