footer {
  background-color: $cc-24-blue;
  color: white;
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
  }

  .container-wrapper {
    margin-top: auto;
  }

  .social-list {
    justify-content: center;

    img {
      height: 2.5rem;
      @media (max-width: 768px) {
        height: 1.5rem;
      }
    }
  }

  .social-icon {
    height: 3.25rem;
    width: 3.5rem;
    @media (max-width: 768px) {
      height: 2.8rem;
      width: 3rem;
    }
  }

  .flipper {
    .unflipped {
      display: inline;
    }
    .flipped {
      display: none;
    }

    &:hover {
      .flipped {
        display: inline;
      }
      .unflipped {
        display: none;
      }
    }
  }

  .pattern {
    width: 100%;
  }
}
