.guest {
  clear: both;

  .guest-photo {
    display: block;
    width: 30%;
    float: left;

    @include media($phone) {
      width: 100%;
      float: none;
    }
  }

  .guest-bio {
    margin-left: calc(30% + #{$base-spacing});

    @include media($phone) {
      padding-top: $small-spacing;
      margin-left: 0;
    }
  }

  &.right {
    .guest-photo {
      float: right;

      @include media($phone) {
        float: none;
      }
    }

    .guest-bio {
      margin-right: calc(30% + #{$base-spacing});
      margin-left: 0;

      @include media($phone) {
        margin-right: 0;
      }
    }
  }

  &:not(:first-of-type) {
    padding-top: $base-spacing;
  }
}
