.menu-bar {
  @include outer-container;

  padding: $small-spacing $base-spacing 0 $base-spacing;

  .open-menu-button {
    @include span-columns(4);

    button {
      background: white;
      color: $site-nav-background-color;
      border: $base-border;
      border-color: currentColor;
    }
  }

  .buy-badge-button {
    @include span-columns(8);
    @include omega();

    text-align: right;
  }
}
