.menu-bar {
  @include outer-container;

  padding: $small-spacing $base-spacing 0 $base-spacing;

  .open-menu-button {
    @include span-columns(4);

    button {
      color: inherit;

      .text {
        margin-left: $small-spacing / 2;

        @include media($phone) {
          display: none;
        }
      }
    }
  }

  .buy-badge-button {
    @include span-columns(8);
    @include omega();

    text-align: right;
  }
}
