img.third-hero {
  box-sizing: border-box;
}

@include media($desktop) {
  img.third-hero {
    padding: 3px;
    width: 33%;
  }
}

@include media($tablet) {
  img.third-hero {
    padding: 3px;
    width: 50%;
  }

  img.third-hero:nth-child(3n) {
    display: none;
  }
}

@include media($phone) {
  img.third-hero {
    width: 100%;
  }

  img.third-hero:nth-child(3n+2),
  img.third-hero:nth-child(3n) {
    display: none;
  }
}

.tea-label {
  width: 20%;
  float: left;
  margin-right: $base-spacing;
  clear: both;
}
@include media($phone) {
  .tea-label {
    width: 100%;
    float: none;
    margin: 0;
  }
}

h2 {
  clear: both;
}
h2#continuing-flavors {
  margin-top: $base-spacing;
}
h2 ~ p {
  clear: both;
  padding-top: $small-spacing;
}
