.site-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 320px;

  padding: $base-spacing;

  background: $dark-gray;

  /* Only display the "Close Menu" button when the screen size is
    so small we can't still see the "Nav" button. */
  .close-menu-button {
    display: none;

    @include media($tiny) {
      display: block;
    }
  }
}

.site-nav + .site-wrapper {
  position: relative;
  z-index: 2;

  background-color: $base-background-color;
  transition: transform $base-duration $base-timing;
}

.site-nav.open + .site-wrapper {
  transform: translateX(320px);
  transition: transform $base-duration $base-timing;
}
