.page-main {
  background-color: white;
}

.homepage {
  margin-top: 0!important;
  margin-bottom: 0!important;
  background-color: white;
}

.homepage > article {
  max-width: 120vh;
}

.page-main img {
  max-width: 100%;
}
