.page-main {
  flex-grow: 1;
}

.page-main img {
  max-width: 100%;
}

.desktop-schedule {
  // display: none;
}

.mobile-schedule {
  display: none;
}

@media (max-width: 1200px) {
  .desktop-schedule {
    display: none;
  }

  .mobile-schedule {
    display: block;
  }
}

.main-container > * {
  padding-left: 3rem;
  padding-right: 3rem;
}

.post {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media (max-width: 1200px) {
    padding-top: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (max-width: 700px) {
    padding-top: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.book-club-banner {
  font-size: 24px;

  text-align: center;

  margin: 1em 0;

  padding: 0.5em;

  background-color: $cc-24-blue;
  color: white;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: $cc-sky-blue;
    }
  }
}

.about-link-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  a {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;

    padding: 3rem 1rem;

    text-align: center;
    align-content: center;
  }

  .prev-cons {
    color: white;
    background-color: #2398ca;
  }

  .our-staff {
    color: black;
    background-color: #bfe8fb;
  }

  .parent-org {
    color: white;
    background-color: #0366a9;
  }

  .support {
    color: white;
    background-color: #237f44;
  }
}
