body {
  font-family: $font-family-base;
  font-variant-numeric: lining-nums;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  // background-color: transparentize(#666666, 0.6666);

  // background-image: linear-gradient(
  //   transparentize(#000000, 0.75), 
  //   transparentize(#000000, 0.75)
  // ), url($baseurl + '/images/backgrounds/agate.jpg');
  // background-origin: border-box;
  // background-size: cover;
  // background-attachment: fixed;
  // background-position: center top;
  // background-color: white;
  background-color: $cc-orange-1;
  color: $cc-navy;

  @media (max-width: 768px) {
    background-size: auto 100vh;
  }
}

#page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#alert-container {
  position: fixed;
  z-index: 1000;
  width: 100%;
  margin: 0 auto;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;

  input,
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid $cc-purple-4;
    margin-bottom: 10px;
  }

  textarea {
    height: 150px;
    resize: none;
  }

  button {
    margin-bottom: 1em;
  }
}


#mc_embed_signup {
  // backg
}

.card {
  background-color: $cc-orange-1;
  border: 1px solid gray;
}
