html{
  height:100%;
  min-height:100%;
}

body.splash {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: $dark;
  background-image: url('../images/backgrounds/hills-final.jpg');
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  a {
    color: $cc-logo-blue;
  }

  .splash-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: transparentize(#666666, 0.6666);

    font-family: 'Source Sans Pro', 'freight-sans-pro';

    text-align: center;
    line-height: 1;
    color: $white;
    text-shadow: black 4px 4px 20px;

    .con-name img {
      height: 4vw;
      text-transform: uppercase;
      text-shadow: $dark 0px 0px 3vw;
    }

    .stats {
      color: transparentize($white, 0.2);
      text-align: center;
    }

    .con-year {
      font-weight: bold;
      margin-top: 3vw;
    }

    .tagline {
      font-style: italic;
      margin-top: 3vw;
    }

    footer {
      margin-top: 4.5vw;
    }

    .con-name img { height: 5vw; }
    .con-year { font-size: 7vw; }
    .stats { font-size: 2vw; }
    .tagline { font-size: 3vw; }

    @media screen and (max-width: 1080px) {
      .con-name img { height: 8.57vw; }
      .con-year { font-size: 12vw; }
      .stats { font-size: 4vw; }
      .tagline { font-size: 5.2vw; }
      footer { font-size: 3vw; }
    }

    @media screen and (max-width: 576px) {
      .con-name img { height: 10vw; }
      .con-year { font-size: 14vw; }
      .stats { font-size: 4vw; }
      .tagline { font-size: 4vw; }
    }

  }
}
