body.splash {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: $base-spacing;

  background-color: $dark-gray;
  background-image: url('../images/galaxies/ngc-4038-4039-antennae.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-origin: border-box;

  @include media($phone) {
    background-size: 100vh;
    background-position: top;
  }

  .splash-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    text-align: center;
    line-height: 1;
    color: transparentize($cyan, 0.2);
    text-shadow: $dark-gray 0px 0px 4vw;

    .con-name {
      text-transform: uppercase;
      text-shadow: $dark-gray 0px 0px 3vw;
    }

    .stats {
      color: transparentize(white, 0.2);
      text-align: center;
    }

    .tagline {
      margin-top: 4vw;
    }

    .con-name { font-size: 6vw; }
    .con-year { font-size: 21.5vw; }
    .stats { font-size: 2vw; }
    .tagline { font-size: 3vw; }

    @include media($tablet) {
      .con-name { font-size: 10vw; }
      .con-year { font-size: 36vw; }
      .stats { font-size: 4vw; }
      .tagline { font-size: 6vw; }
    }

    @include media($phone) {
      .con-name { font-size: 10vw; }
      .con-year { font-size: 36vw; }
      .stats { font-size: 4vw; }
      .tagline { font-size: 6vw; }
    }

  }
}
