$white: white !default;
$cc-blue: #005bab;
$cc-dark-blue: #1b344c;

$cc-logo-blue: #00aeef;

$cc-cyan: #2ed3e5;
$cc-dark-cyan: $cc-dark-blue;

$cc-green: #134c21;
$cc-medium-green: lighten($cc-green, 15%);
$cc-light-green: lighten($cc-green, 40%);

$cc-green-new: rgb(50, 82, 61);

$cc-sky-blue: #99dbf8;
$cc-24-green: #00a550;
$cc-24-blue: #0066aa;

$theme-colors: (
  "primary": $cc-24-green,
);
