body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: $small-spacing 0;

  &:first-child {
    margin: 0 0 $small-spacing;
  }
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

blockquote {
    color: $medium-gray;
    border-left: 4px solid $light-gray;
    padding-left: $small-spacing;
    font-size: modular-scale(-1);
    // letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

pre,
code {
    border: $base-border;
    border-radius: $base-border-radius;
    background-color: $secondary-background-color;
}

pre {
    padding: $small-spacing $base-spacing;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
